@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --text-white: rgb(255, 255, 255);
  --text-lightorange: rgb(254, 187, 62);
  --white-space-row: 7.5rem;
  --index-porftolio-btn-bg: blue;
  --index-portfolio-text-color: rgb(255, 255, 255);
  /* általános shadow */
  --nav-link-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  --index-hero-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  --index-portfolio-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.whitespace-row-custom {
  padding: var(--white-space-row) 0;
}

#logo {
    width: 2.5rem;
    height: 2.5rem;
}

#navigationContainer {
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, .1); */
}

a.nav-link {
  width: 6.4rem!important;
  color: rgb(225, 225, 225);
  text-shadow: var(--nav-link-text-shadow);
  text-transform: uppercase;
}

a.nav-link:hover {
  color: var(--text-white)!important;
}

a.active {
  /* text-decoration: underline 1px solid; */
  color: var(--text-white)!important;
  font-weight: bold;
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  z-index: 99;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* hero szekció */
#hero-container {
  position: relative;
  background-color: white;
}

#hero-container::before {
  --darken-1: rgba(20, 42, 43, .7);
  --darken-2: rgba(20, 42, 43, .8);
  --darken-3: rgba(20, 42, 43, .9);
  --light: rgba(20, 42, 43, .2);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--darken-3) 0%, var(--darken-2) 2%, var(--darken-1) 4%, var(--light) 10%, var(--light) 27%, var(--light) 44%, var(--darken-1) 61%, var(--darken-2) 80%, var(--darken-3) 100%);
  z-index: 2;
}

#hero-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#hero-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-text-container {
  padding-top: 5rem;
  z-index: 3;
}

#hero-title, #hero-text {
  color: rgb(245, 245, 245);
  text-shadow: var(--index-hero-text-shadow);
}

#hero-title {
  font-family: "Nunito Sans", sans-serif;
  /* font-size: clamp(28px, 9vw, 100px); */
  font-size: clamp(28px, 6vw, 100px);
  text-wrap: balance;
  font-weight: bold;
  text-transform: uppercase;
}

#hero-text, #hero-cta-btn-container {
  font-family: "Poppins", sans-serif;
}

#hero-text {
  font-size: 1.3rem;
}

#hero-cta-btn-container {
  font-size: 1.125rem;
}

@media only screen and (max-width: 768px) {
  #hero-text {
    font-size: 1rem;
  }

  #hero-cta-btn-container {
    font-size: .875rem;
  }
}

#hero-whitespace {
  width: 25%;
}

#hero-text-paragraph, #hero-cta-btn {
  width: 75%;
}

#hero-cta-btn > a {
  color: var(--text-lightorange);
  text-decoration: none;
  transition: color .4s ease-in-out;
}

#hero-cta-btn > a:hover {
  color: var(--text-white);
}

#hero-text-paragraph > p {
  padding-top: 0;
}

@media only screen and (max-width: 768px) {
  #hero-whitespace, #hero-text-paragraph, #hero-cta-btn {
    width: 100%;
  }
}

/* article */
article.col {
  padding: 0!important;
}
/* hero szekció vége */

/* portfólió szekció */
.index-portfolio {
  height: 22.5rem;
  opacity: 0;
  transform: translateY(20px);
}

.index-portfolio-img-container {
  text-decoration: none!important;
  overflow: hidden;
  position: relative;
}

.index-portfolio-img-container > .index-portfolio-imgs {
  position: absolute;
  object-fit: cover;
  z-index: 0;
  transition: all .8s ease-in-out;
}

.index-portfolio-img-container:hover .index-portfolio-imgs {
  transform: scale(1.3);
}

.index-portfolio-img-container > .index-portfolio-title {
  color: var(--index-portfolio-text-color);
  font-size: 2.75rem;
  text-transform: uppercase;
  text-shadow: var(--index-portfolio-text-shadow);
  z-index: 1;
}

.index-portfolio-img-container > .index-portfolio-fake-btn {
  padding: 1rem 2.5rem;
  background-color: var(--index-porftolio-btn-bg);
  color: var(--index-portfolio-text-color);
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: var(--index-portfolio-text-shadow);

  transition: all .2s ease-in-out;
  z-index: 1;
}

.index-portfolio-img-container > .index-portfolio-fake-btn:hover {
  background-color: black;
}

/* portfólió szekció vége */


/* media queries szekció */
@media only screen and (min-width: 992px) {
  #menuContainer {
    width: 31.25rem;
  }
  a.nav-link  {
    text-align: center;
  }
}